.weather-info {
  margin: 50px 50px;
  background-color: bisque;
}

.weather-forecast-details {
  list-style: none;
  color: brown;
}

.forecast-in-day-navigation {
  width: 300px;
  margin-bottom: 20px;
}

.forecast-hour-btn {
  width: 30px;
}

.forecast-btn {
  width: 50px;
  height: 50px;
}

.active {
  background-color: bisque;
  border-top: none;
}