html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#map {
  /* width: 500px; */
  height: 100vh;
}

.find-city-input {
  position: absolute;
  left: 150px;
  z-index: 999;
}

.find-button {
  position: absolute;
  left: 70px;
  z-index: 999;
}

#json {
  width: 500px;
  height: 500px;
}

.obj-id {
  color: brown;
}